
h1 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 348px;
  left: 390px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.img__sucess{
  position: absolute;
  left: 140px;
  top: 143px;
}

.cont__wel{
  position: absolute;
width: 490px;
height: 295px;
left: 700px;
top: 250px;

background: #FEFEFE;
box-shadow: 0px 4px 62px 17px #CBCBED;
}

.reg_sucess{
  position: absolute;
 
 
}


button {
    padding: 10px 50px;
}
