body {
  font-size: 14px;
}

h1 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  padding-top: 39px;
  padding-left: 180px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.img__sucess{
  position: absolute;
  left: 140px;
  top: 143px;
}

.cont__wel{
  width: 490px;
  height: 295px;
  background: rgba(253,253,253,1);
  opacity: 1;
  position: absolute;
  left: 700px;
  top: 250px;
  box-shadow: 0px 4px 62px rgba(0.797534704208374, 0.797534704208374, 0.9291666746139526, 1);
  overflow: hidden;
  align-items: center;
}

.reg_sucess{
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  padding-top: 100px;
  padding-left: 98px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: left;
 
 
}


button {
  width: 320px;
  height: 68px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 85px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
  
  
}

.button__succes{
  color: white;
}





.create__rec{
  width: 511px;
  height: 708px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 79px;
  box-shadow: 0px 4px 66px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.reg__image{
  width: 399px;
  height: 367px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 50px;
  overflow: hidden;
}

.v1_2{
  width: 100%;
  height: 832px;
  background: rgba(233,232,232,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v4_37 {
  width: 391px;
  color: rgba(51,49,66,1);
  position: absolute;
  top: 470px;
  left: 134px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}

.v4_38 {
  width: 370px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 538px;
  left: 142px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

.v4_40 {
  width: 78px;
  color: rgba(62,60,85,1);
  position: absolute;
  top: 619px;
  left: 283px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

.left__reg{
  position: absolute; left: 894px; top: 41px; font-size: 25px; font-weight: 600; text-align: left; color: #46445f;
}


.create__acc{
  letter-spacing:0;
  line-height:normal;
  margin-left: 12px;
  min-height: 30px;
  min-width: 190px;
}

.get_st{
  align-self: flex-start;
  letter-spacing: 0;
  line-height:normal;
  margin-top: 16px;
  min-height: 24px;
}

.overlap-group1{
  align-items: flex-start;
  background-color: rgba(247,247,247,1);
  display: flex;
  height: 65px;
  margin-left: 7px;
  margin-top: 40px;
  min-width: 399px;
  padding: 19px 22px;
}

