body {
  font-size: 14px;
}

h1 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  padding-top: 39px;
  padding-left: 180px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}

.img__sucess{
  position: absolute;
  left: 140px;
  top: 143px;
}

.cont__wel{
  width: 490px;
  height: 295px;
  background: rgba(253,253,253,1);
  opacity: 1;
  position: absolute;
  left: 700px;
  top: 250px;
  box-shadow: 0px 4px 62px rgba(0.797534704208374, 0.797534704208374, 0.9291666746139526, 1);
  overflow: hidden;
  align-items: center;
}

.reg_sucess{
  width: 310px;
  color: rgba(0,0,0,1);
  position: absolute;
  padding-top: 100px;
  padding-left: 98px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: left;
 
 
}


button {
  width: 320px;
  height: 68px;
  background: rgba(63,61,86,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 85px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
  
  
}

.button__succes{
  color: white;
}




.rectangle1__reg {
  position: absolute;
  left: 79px;
  top: 53px;
  width: 511px;
  height: 708px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 66px 21px #00000040;
}
.undraw_Access_account_re_8spm1 {
  position: absolute;
  left: 140px;
  top: 58px;
  width: 399px;
  height: 367px;
}


.rectangle2__reg {
  position: absolute;
  left: 787px;
  top: 150px;
  width: 399px;
  height: 65px;
  background-color: #f8f8f8;
}
.rectangle7__reg {
  position: absolute;
  left: 808px;
  top: 578px;
  width: 337px;
  height: 65px;
  border-radius: 14px;
  background-color: #3e3c55;
}
.rectangle8__reg {
  position: absolute;
  left: 213px;
  top: 605px;
  width: 215px;
  height: 65px;
  outline: solid 2px #3e3c55;
  outline-offset: -2px;
  border-radius: 14px;
}
.rectangle6__reg {
  position: absolute;
  left: 787px;
  top: 503px;
  width: 30px;
  height: 30px;
  outline: solid 1px #4a9bd6;
  outline-offset: -1px;
  background-color: #fff;
}
.rectangle3__reg {
  position: absolute;
  left: 787px;
  top: 233px;
  width: 399px;
  height: 65px;
  background-color: #f8f8f8;
}
.rectangle4__reg {
  position: absolute;
  left: 787px;
  top: 322px;
  width: 399px;
  height: 65px;
  background-color: #f8f8f8;
}
.rectangle5__reg {
  position: absolute;
  left: 787px;
  top: 414px;
  width: 399px;
  height: 65px;
  background-color: #f8f8f8;
}
.createAccount__reg {
  color: #46445f;
  font-size: 25px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 894px;
  top: 41px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.alreadyHavingAnAccount__reg {
  color: #333243;
  font-size: 27px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 134px;
  top: 470px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.weAreHappyToHaveYouBack__reg {
  color: #000;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 142px;
  top: 538px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.register__reg {
  color: #fffdfd;
  font-size: 25px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 922px;
  top: 593px;
  width: 123px;
  height: min-content;
  flex-direction: column;
}
.logIn__reg {
  color: #3e3c55;
  font-size: 25px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 283px;
  top: 619px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.getStartedByCreatingYourOwnAcc__reg {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 780px;
  top: 87px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.byClickingYouAgreeToTheTermsAn__reg {
  position: absolute;
  left: 823px;
  top: 503px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock__reg {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2__reg {
  margin-top: 0;
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.fullName__reg {
  color: #00000080;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 809px;
  top: 170px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.emailAddress__reg {
  color: #00000080;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 809px;
  top: 251px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.phoneNumber__reg {
  color: #00000080;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 809px;
  top: 346px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.password__reg {
  color: #00000080;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 809px;
  top: 439px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.hidden1__reg {
  position: absolute;
  left: 1116px;
  top: 428px;
  width: 40px;
  height: 40px;
  background-image:/* webpackIgnore: true */ url('../public/hidden.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.or__reg {
  color: #000;
  font-size: 30px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 966px;
  top: 664px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line1__reg {
  position: absolute;
  left: 786.9995px;
  top: 680.2504px;
  width: 131.0091px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
}
.rectangle9__reg {
  position: absolute;
  left: 836px;
  top: 717px;
  width: 67px;
  height: 65px;
  background-color: #f8f8f8;
}
.rectangle10__reg {
  position: absolute;
  left: 952px;
  top: 717px;
  width: 67px;
  height: 65px;
  background-color: #f8f8f8;
}
.rectangle11__reg {
  position: absolute;
  left: 1077px;
  top: 716px;
  width: 67px;
  height: 65px;
  background-color: #f8f8f8;
}
.icons8Google481__reg {
  position: absolute;
  left: 844px;
  top: 728px;
  width: 48px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('../public/icons8-google-48.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icons8AppleLogo30__reg {
  position: absolute;
  left: 1089px;
  top: 727px;
  width: 48px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('../public/icons8-apple-logo-30.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icons8FacebookF32__reg {
  position: absolute;
  left: 961px;
  top: 727px;
  width: 48px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('../public/icons8-facebook-f-32.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.line2__reg {
  position: absolute;
  left: 1044.9995px;
  top: 680.2504px;
  width: 131.0091px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
}















.create__acc{
  letter-spacing:0;
  line-height:normal;
  margin-left: 12px;
  min-height: 30px;
  min-width: 190px;
}

.get_st{
  align-self: flex-start;
  letter-spacing: 0;
  line-height:normal;
  margin-top: 16px;
  min-height: 24px;
}

.overlap-group1{
  align-items: flex-start;
  background-color: rgba(247,247,247,1);
  display: flex;
  height: 65px;
  margin-left: 7px;
  margin-top: 40px;
  min-width: 399px;
  padding: 19px 22px;
}


.rectangle1 {
  position: absolute;
  left: 698px;
  top: 195px;
  width: 514px;
  height: 384px;
  background-color: #eee;
  box-shadow: 0px 4px 15px 1px #3f3d56;
}
.rectangle2 {
  position: absolute;
  left: 786px;
  top: 373px;
  width: 365px;
  height: 68px;
  border-radius: 10px;
  background-color: #fff;
}
.rectangle3 {
  position: absolute;
  left: 786px;
  top: 465px;
  width: 365px;
  height: 68px;
  border-radius: 10px;
  background-color: #3f3d56;
}

.undraw_Forgot_password_re_hxwm {
  position: absolute;
  left: 40px;
  top: 174px;
  width: 640px;
  height: 426px;
  background-image:/* webpackIgnore: true */ url('../public/undraw_Forgot_password_re_hxwm-removebg-preview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.forgotYourPassword {
  color: #3f3d56;
  font-size: 31px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 792px;
  top: 231px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enterYourEmailOrPhoneNumber {
  color: #000;
  font-size: 19px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 801px;
  top: 300px;
  width: 313px;
  height: 53px;
  flex-direction: column;
}
.andSetANewPassword {
  color: #000;
  font-size: 19px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 832px;
  top: 327px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sendCode {
  color: #fffefe;
  font-size: 27px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 882px;
  top: 479px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.enterEmailOrPhoneNumber {
  color: #00000080;
  font-size: 19px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 809px;
  top: 399px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}




.rectangle1_ver {
  position: absolute;
  left: 80px;
  top: 79px;
  width: 510px;
  height: 660px;
  background-color: #fbfbfb;
  box-shadow: 0px 4px 83px -28px #2d4073;
}

.verificationCode {
  color: #142a64;
  font-size: 30px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 211px;
  top: 154px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.didnTRecieveAnOtpResend {
  position: absolute;
  left: 159px;
  top: 683px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #2d4073;
  font-size: 25px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
._254708419386 {
  color: #000;
  font-size: 25px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 211px;
  top: 306px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.weHaveSentYouAVerificationCode {
  position: absolute;
  left: 155px;
  top: 192px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 24px;
  font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 24px;
  font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.rectangle2__ver {
  position: absolute;
  left: 164px;
  top: 408px;
  width: 70px;
  height: 70px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 18px;
}
.rectangle3__ver {
  position: absolute;
  left: 254px;
  top: 408px;
  width: 70px;
  height: 70px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 18px;
}
.rectangle4__ver {
  position: absolute;
  left: 346px;
  top: 408px;
  width: 70px;
  height: 70px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 18px;
}
.rectangle6__ver {
  position: absolute;
  left: 182px;
  top: 544px;
  width: 314px;
  height: 70px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 18px;
  background-color: #2d4073;
}
.rectangle5__ver {
  position: absolute;
  left: 437px;
  top: 408px;
  width: 70px;
  height: 70px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 18px;
}
.submitContinue {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 223px;
  top: 564px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icons8Edit241 {
  position: absolute;
  left: 431px;
  top: 306px;
  width: 30px;
  height: 30px;
  background-image:/* webpackIgnore: true */ url('../public/icons8-edit-24.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.undraw_Confirm_re_69me1 {
  position: absolute;
  left: 617px;
  top: 176px;
  width: 713px;
  height: 481px;
  background-image:/* webpackIgnore: true */ url('../public/undraw_Confirm_re_69me-removebg-preview.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}












.rectangle1__log {
  position: absolute;
  left: 741px;
  top: 73px;
  width: 477px;
  height: 720px;
  background-color: #fcfcfc;
  box-shadow: 0px 4px 65px 1px #777587;
}
.donTHaveAnAccount {
  color: #2f2e41;
  font-size: 30px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 809px;
  top: 507px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.getStartedByCreatingYourNewAcc {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 776px;
  top: 570px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.undraw_Mobile_login_re_9ntv1 {
  position: absolute;
  left: 770px;
  top: 90px;
  width: 430px;
  height: 389px;
  background-image:/* webpackIgnore: true */ url('../public/undraw_Mobile_login_re_9ntv.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle2__log {
  position: absolute;
  left: 871px;
  top: 615px;
  width: 253px;
  height: 64px;
  outline: solid 4px #2f2e41;
  outline-offset: -4px;
  border-radius: 14px;
  background-color: #2f2e41;
}
.rectangle5__log {
  position: absolute;
  left: 201px;
  top: 479px;
  width: 233px;
  height: 58px;
  border-radius: 9px;
  background-color: #2f2e41cc;
}
.rectangle3__log {
  position: absolute;
  left: 144px;
  top: 232px;
  width: 394px;
  height: 64px;
  border-radius: 4px;
  background-color: #91939e;
}
.rectangle6__log {
  position: absolute;
  left: 151px;
  top: 661px;
  width: 90px;
  height: 64px;
  border-radius: 4px;
  background-color: #91939e;
}
.rectangle7__log {
  position: absolute;
  left: 298px;
  top: 661px;
  width: 90px;
  height: 64px;
  border-radius: 4px;
  background-color: #91939e;
}
.rectangle8__log {
  position: absolute;
  left: 449px;
  top: 660px;
  width: 90px;
  height: 64px;
  border-radius: 4px;
  background-color: #91939e;
}
.rectangle4__log {
  position: absolute;
  left: 144px;
  top: 332px;
  width: 394px;
  height: 64px;
  border-radius: 4px;
  background-color: #91939e;
}
.register {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 959px;
  top: 635px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.welcomeBack {
  color: #2f2e41;
  font-size: 30px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 204px;
  top: 134px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.or {
  color: #000;
  font-size: 30px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 325px;
  top: 590px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.logIn {
  color: #f9f4f4;
  font-size: 30px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 264px;
  top: 489px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.weAreHappyToHaveYouBack {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 167px;
  top: 175px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.forgotPassword {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 363px;
  top: 410px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.emailOrPhoneNumber {
  color: #00000080;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 158px;
  top: 252px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.password {
  color: #00000080;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 158px;
  top: 350px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.hidden1 {
  position: absolute;
  left: 465px;
  top: 350px;
  width: 44px;
  height: 38px;
  background-image:/* webpackIgnore: true */ url('../public/hidden.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.line1 {
  transform-origin: bottom left;
  position: absolute;
  left: 373px;
  top: 607px;
  width: 143.0315px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.line2 {
  transform-origin: bottom left;
  position: absolute;
  left: 153px;
  top: 607px;
  width: 143.0315px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.icons8Google481 {
  position: absolute;
  left: 172px;
  top: 669px;
  width: 48px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('../public/icons8-google-48.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icons8AppleLogo301 {
  position: absolute;
  left: 319px;
  top: 669px;
  width: 48px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('../public/icons8-apple-logo-30.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icons8FacebookF321 {
  position: absolute;
  left: 468px;
  top: 669px;
  width: 48px;
  height: 48px;
  background-image:/* webpackIgnore: true */ url('../public/icons8-facebook-f-32.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
